@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,700;1,800&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  color: black;
  background-color: rgb(238, 214, 184);
  font-size: 1.05rem;
}
p {
  font-family: "JetBrains Mono", monospace;
}

a {
  color: rosybrown;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

 .titulo-blog {
  background-color: black;
  padding: 1rem;
  font-size: 2.3rem;
}
.titulo-blog > a {
  color: rosybrown;
  text-decoration: none;

}
nav {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.home {
  letter-spacing: 0.5rem;
}
.barra-navegacion {
  border-bottom: 2px solid gray;
}

.imagen-logo:hover {
  cursor: pointer;
}
.fecha-post {
  color: gray;
  font-size: 15px;
  width: 122px;
  white-space: nowrap;
  overflow: hidden;
  /*  text-overflow: ellipsis; */
}

.tagcolor > a {
  color: #555;
  font-size: 0.95rem;
  text-decoration: none;
}

.tags a:after {
  content: " - ";
}
.tags a:last-child:after {
  content: "";
}
