html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: #1c1d20;
  font-size: 1.05rem;
}

a {
  color: palevioletred;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.home {
  letter-spacing: 0.5rem;
}
.home:hover {
  border-bottom: 1px solid palevioletred;
}
